<app-card cardTitle="Access - New User / Update User">
    <div class="card-content">
        <table>
            <tr>
                <td>

                    <label for="name">Name</label>
                    <app-input type=" text" classType="col-md-40" [(inputModel)]="user.name" name="name">
                    </app-input>
                    <small *ngIf="!!!user.name && flag" class="form-text text-muted text-danger"
                        style="font-weight: bold; position:absolute">
                        Please enter name</small>
                    <small *ngIf="!nameValid && user.name.length > 0" class="form-text text-muted text-danger"
                        style="font-weight: bold; position:absolute">
                        Name is not valid </small>


                </td>
                <div class="col-md-auto"></div>
                <div class="col-md-auto"></div>
                <td>
                    <label for="name">Phone</label>
                    <app-input type=" text" classType="col-md-40" [(inputModel)]="user.phoneNumber" name="phoneNumber">
                    </app-input>
                    <small *ngIf="!!!user.phoneNumber && flag" class="form-text text-muted text-danger"
                        style="font-weight: bold; position:absolute">
                        Please enter phone number</small>
                    <small *ngIf="!phoneValid && user.phoneNumber.length > 0" class="form-text text-muted text-danger"
                        style="font-weight: bold; position:absolute">
                        Phone is not valid </small>

                </td>
            </tr>
            <br>
            <tr>
                <td>
                    <label for="exampleInputEmail1">Email</label>
                    <app-input type="email" classType="col-md-40" aria-required="true" [(inputModel)]="user.email"
                        name="email">
                    </app-input>
                    <small *ngIf="!!!user.email  && flag" id="emailHelp" class="form-text text-muted text-danger"
                        style="font-weight: bold; position:absolute">
                        Please enter Email </small>
                    <small *ngIf="!emailValid && user.email.length > 0" class="form-text text-muted text-danger"
                        style="font-weight: bold; position:absolute">
                        Email is not valid </small>
                </td>
                <div class="col-md-auto"></div>
                <div class="col-md-auto"></div>
                <td>
                    <label for="exampleInputPassword1">Password</label>
                    <app-input type="password" classType="col-md-40" aria-required="true" [(inputModel)]="user.password"
                        name="password">
                    </app-input>
                    <small *ngIf="!!!user.password  && flag" class="form-text text-muted text-danger"
                        style="font-weight: bold; position:absolute">Please enter a password</small>

                    <small *ngIf="flag && user.password.length < 8" class="form-text text-muted text-danger"
                        style="font-weight: bold; position:absolute">Must be at
                        least 8
                        characters</small>
                    <small *ngIf="!passwordValid && flag" class="form-text text-muted text-danger"
                        style="font-weight: bold; position:absolute">
                        Password is not valid </small>

                </td>

            </tr>
            <br>
            <tr>
                <td>
                    <app-numbine-select-box [data]="select" [(selected)]="selectedRole"
                        (change)="chooseRole($event.target.value)">
                    </app-numbine-select-box>
                    <small *ngIf="!roleValid" class="form-text text-muted text-danger"
                        style="font-weight: bold; position: absolute;">
                        You have to choose a role</small>


                </td>
                <div class="col-md-auto"></div>
                <div class="col-md-auto"></div>
                <td>

                    <div class="col-md-8" style="margin-top: 35px;">
                        <app-numbine-toggle-switch [id]="1" leftSide="InActive" rightSide="Active"
                            (onSelectionChangedBooleanValue)="onStatusChange($event)"></app-numbine-toggle-switch>
                    </div>
                </td>
            </tr>
            <tr style="width: 100%;">
                <td style="text-align: right;" colspan="3">
                    <div>
                        <button type="reset" class=" cancel-button btn btn-primary"
                            routerLink="/dell/admin/accessPage">Cancel</button>
                        <button type="submit" class="save-button btn btn-primary" (click)="createUser()">Save</button>
                    </div>

                </td>
            </tr>
        </table>
    </div>
</app-card>