<app-card cardTitle="Products">
    <div class="card-content">
    <app-button style="float: left;" id="button" name="New Product" type="btn btn-primary" routerLink="/dell/config/ConfigProductsPageAdd">
        New Product></app-button>
    <br>
    <br>
    
        <app-numbine-actions-table  [dataTable]="dataTable" [trashBool]="trash" [editBool]="edit"
            (trashModelChange)="deleteRow($event)" (editModelChange)="updateFunction($event)">
        </app-numbine-actions-table>
    </div>
</app-card>