<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table dataTable class="table table-striped table-bordered nowrap table-hover">
                <thead>
                    <tr>
                        <th *ngFor="let title of dataTable.titles; let j = index">{{title}}</th>
                        <th>Start Release</th>
                        <th>End Release</th>
                    </tr>
                </thead>
                <tbody *ngIf="startReleaseData != null && endReleaseData != null">
                    <tr *ngFor="let x of dataTable.rows; let i = index">
                        <td *ngFor="let data of (x)">{{data}}</td>
                        <td>
                            <app-numbine-select-box (change)="setStartReleaseIndex($event?.target?.value, i)"
                                [data]="startReleaseData" [id]="selectedStartIndex[i]" name="startSelected{{i}}"></app-numbine-select-box>
                        </td>
                        <td>
                            <app-numbine-select-box (change)="setEndReleaseIndex($event?.target?.value, i)"
                                [data]="endReleasesPerValue[i]" [id]="selectedEndIndexReduced[i]" name="endSelected{{i}}"></app-numbine-select-box>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>