<app-card cardTitle="Edit parameter">
    <div class="card-content">
        <table>
            <tr>
                <td>
                    <div><label>Parameter Name:</label>
                        <app-input (inputModelChange)="AddtoTable($event,1)" [inputModel]="paramName" classType="">
                        </app-input>
                    </div>
                </td>
                <div class="col-md-auto"></div>

                <td>
                    <div>
                        <label>Parameter Description: </label>
                        <app-input (inputModelChange)="AddtoTable($event,2)" [inputModel]="paramDesc" classType="">
                        </app-input>
                    </div>
            </tr>
            <br>
            <tr>
                <td>
                    <div>
                        <label>Parameter Value:</label>
                        <app-input (inputModelChange)="AddtoTable($event,3)" [inputModel]="paramVal" classType=""></app-input>
                    </div>
                    <span style="color:red; position: absolute;" *ngIf="valLen==0">Value is missing!</span>
                </td>
                <div class="col-md-auto"></div>

                <td style="padding-top: 30px;">
                    <app-button id="button" name="Add" type="btn btn-primary" (click)="addtoParams()"
                        [isDisabled]="buttonConditon"></app-button>
                </td>
            </tr>
            <br>
            <tr>
                <td colspan="3">
                    <app-numbine-actions-table [dataTable]="dataTable" [trashBool]="trash"
                        (trashModelChange)="deleteRow($event)" [trashClick]="deleteRow">
                    </app-numbine-actions-table>

                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: right;">
                    <div>
                        <app-button class="cancel-button" name="Cancel" type="btn btn-primary"
                            (click)="cleanEverything()"></app-button>
                        <app-button class="save-button" (click)="saveButtonClick()" name="Save" type="btn btn-primary">
                        </app-button>
                    </div>
                </td>
            </tr>
        </table>



        <!-- <table> 
            <tr >
                <td style="column-span: 6;">
                    <app-button  name="Cancel" type="btn btn-primary"  (click)="cleanEverything()" > Cancel</app-button>
                    
                </td>
                <td>
                    <app-button (click)="saveButtonClick()"  name="Save" type="btn btn-primary"> Save</app-button>
                    
                </td>
            </tr>
        </table> -->
    </div>
    <br><br>
</app-card>