<app-card cardTitle="Product Release Mapping">
    <table>
        <tr>
            <td class="tdGrow">
                <app-product-selector labelText="Product Name:">
                </app-product-selector>
            </td>
            <td style="text-align: right; vertical-align: top;" class="tdShrink">
                <app-button [isDisabled]="paramMappingButtonDisabled" [name]="paramMappingButtonText" routerLink="/dell/config/newParamMapping" style="margin-left: 20px;"></app-button>
            </td>
        </tr>
        <br>
        <tr *ngIf="currentProduct != null && params != null">
            <td colspan="2" *ngIf="params.length == 0 && !loading;" style="color:red">
                <label class="igx-typography">
                    This product doesn't have any parameters associated with it. Please use the 'New Param Mapping' button to map some parameters to it.
                </label>
            </td>
            <td colspan="2" *ngIf="params.length > 0 && !loading;">
                <app-numbine-actions-table [dataTable]="dataTable" [trashBool]="trash" [editBool]="edit" (trashModelChange)="deleteFunction($event)" (editModelChange)="updateFunction($event)">
                </app-numbine-actions-table>
            </td>
        </tr>
        <tr *ngIf="loading">
            <td colspan="2">
                <div style="text-align: center;" >    
                    <app-app-loading></app-app-loading>
                </div>
            </td>
        </tr>
        
    </table>
    <br><br>

</app-card>