<app-card cardTitle="Add Product">
    <div class="card-content">
            <div style="margin-top: 40px;">
                <table>
                    <tr>
                        <td>
                            <label style="color:red; position: absolute; transform: translateX(-10px);">*</label>
                            <label>Product name:</label>
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 50%;">
                            <app-input (change)="onNameChange($event.target.value)" [inputModel]="product?.productName"
                                type="name" classType=""></app-input>
                            <label style="color:red" *ngIf="Flag">please insert product name </label>
                        </td>
                        <div class="col-md-auto"></div>
                        <td>
                            <div style="margin-top: 15px; text-align: left;">
                                <app-numbine-toggle-switch (onSelectionChangedBooleanValue)="onStatusChange($event)"
                                [id]="1" leftSide="InActive" rightSide="Active">
                            </app-numbine-toggle-switch>
                        </div>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                    <tr style="text-align: right;">
                        <td colspan="3">
                            <div>
                                <app-button class="cancel-button" name="Cancel"
                                    routerLink="/dell/config/ConfigProductsPage"></app-button>
                                <app-button class="save-button" (click)="saveButton()" name="Save"></app-button>
                            </div>

                        </td>
                    </tr>
                </table>
            </div>

            <br><br>
    </div>
</app-card>