<app-card cardTitle="Releases">
    <table class="card-content">
        <tr>
            <td>
                <app-button name='New Release' (click)="GoToNewRelease()"></app-button>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <app-numbine-actions-table [dataTable]="dataTable" [trashBool]=false [editBool]="edit" (editModelChange)="updateFunction($event)">
                </app-numbine-actions-table>
            </td>
        </tr>
        <!-- <tr>
            <td>
                <app-dashboardconfig></app-dashboardconfig>
            </td>
        </tr> -->

    </table>
</app-card>