h1{
    text-align: center;
   
}

table{
    width: 90%;
    padding: 20px;
    border-spacing: 20px;
    margin: auto;
    margin-bottom: 20px;
}
tr{
    margin: 10px;
    padding: 10px;
}

.tdGrow
{
    width: max-content;
}
.tdShrink
{
    text-align: right; 
    width:1px;
    white-space:nowrap;
}