<app-card [cardTitle]="cardTitle">
    <div class="card-content">
        <div style="text-align: center;" *ngIf="loading">    
            <app-app-loading></app-app-loading>
        </div>
        <div *ngIf="!updating">

            <app-numbine-actions-table [dataTable]="productDataTable" [editBool]="true" (editModelChange)="updateFunction($event)"
                *ngIf="!loading">

            </app-numbine-actions-table>
        </div>
        <div *ngIf="updating">
            <h4 class="igx-typography">{{ this.currentProduct?.productName }}</h4>
            <!-- <label class="igx-typography" style="font-weight: bold; font-size: 24px;">{{ this.currentProduct?.productName }}</label>             -->
            <table style="width: 100%;">
                <tr>
                    <td class="tdGrow">
                        <app-user-selector (onSelectionChanged)="setActiveUser($event)"
                            labelText="Select User: "></app-user-selector>
                    </td>
                    <td class="tdShrink">
                        <app-button name="Add User" style="margin-left: 20px;" (click)="addUser()"></app-button>
                    </td>
                </tr>
            </table>
            <app-numbine-actions-table [dataTable]="userDataTable" [trashBool]="true" (trashModelChange)="deleteFunction($event)"
                *ngIf="!loading">

            </app-numbine-actions-table>
            <div style="text-align: right;">
                <app-button name="Cancel" class="cancel-button" style="text-align:right;" (click)="cancelAddUsers()">
                </app-button>
                <app-button name="Save" class="save-button" style="text-align:right;" (click)="saveNewUsers()">
                </app-button>
            </div>
        </div>
    </div>
</app-card>