<app-card cardTitle="Admin Charts Page" [options]="false">

    <div class="card-content">
        <table>
            <tr>
                <td>
                    <app-product-selector labelText="Products: " (onSelectionChanged)=" selectedProduct($event)">
                    </app-product-selector>
                </td>
            </tr>
            <tr>
                <td>
                    <app-release-selector labelText="Releases: " [releaseList]="releaseList"
                        (onSelectionChanged)=" selectedRelease($event)"> </app-release-selector>
                </td>
                <div class="col-md-auto"></div>
                <td>
                    <igx-date-range-picker style="margin-bottom: 16px;" [(ngModel)]="range">
                        <igx-date-range-start>
                            <input igxInput igxDateTimeEditor type="text">
                            <igx-picker-toggle igxPrefix>
                                <igx-icon>calendar_today</igx-icon>
                            </igx-picker-toggle>
                        </igx-date-range-start>
                        <igx-date-range-end>
                            <input igxInput igxDateTimeEditor type="text">
                        </igx-date-range-end>
                    </igx-date-range-picker>
                </td>
                <div class="col-md-auto"></div>
                <td>
                    <app-button class="type" name="Search" (click)="excuteFunctions();">
                    </app-button>
                </td>
            </tr>
        </table>
        <div class="col-md-auto"></div>
    </div>
    <div>
        <small *ngIf="dateflag" class="form-text text-muted text-danger" style="font-weight: bold;">
            Cannot start the DATE RANGE backwards!!</small>
    </div>
</app-card>
<app-card cardTitle="Charts" [options]="false">
    <div class="card-content">

        <div>
            <small *ngIf="flag" class="form-text text-muted text-danger" style="font-weight: bold; text-align: center;">
                It appears that there are no FILES CREATED!!</small>
        </div>
        <div class="col-md-12">
            <app-numbine-line-chart [lineChartsData2]="linedataTable"></app-numbine-line-chart>
        </div>
        <div>
            <small *ngIf="barflag" class="form-text text-muted text-danger"
                style="font-weight: bold; text-align: center;">
                It appears that there are no Product/s Selected</small>
            <small *ngIf="resultflag" class="form-text text-muted text-danger"
                style="font-weight: bold; text-align: center;">
                It appears that there are no FILES CREATED!!</small>
        </div>
        <div class="col-md-12">
            <app-numbine-bar-chart [barChartData]="bardataTable"></app-numbine-bar-chart>
        </div>
        <div class="col-md-12">
            <app-numbine-pie-chart [pieChartsData]="piedataTable"></app-numbine-pie-chart>
        </div>
    </div>
</app-card>