<app-card cardTitle="Feedback list" [options]="false">

    <form>
        <table style="width: 90%; margin: auto;">
            <tr>
                <td>

                </td>
            </tr>
            <br>
            <tr>
                <td>
                    <app-numbine-actions-table [dataTable]="dataTable" [editBool]="edit" (editModelChange)="updateFunction($event)">
                    </app-numbine-actions-table>
                </td>
            </tr>
        </table>

    </form>
</app-card>