<div ><table>
    <tr>
        <td style="vertical-align: bottom; padding-bottom: 5px;">
            <!-- <h6 style="text-align: right;">{{labelText}}</h6>         -->
            <label class="igx-typography">{{labelText}}</label>            

        </td>
        <td style="width: 85%;">
            <app-numbine-auto-complete-select-box [disabled]="disabled" cssClass=""  [hintText]="hintText" [data]="selectBoxItems" (onSelectionChanged)="onSelectRelease($event)"></app-numbine-auto-complete-select-box>
        </td>
    </tr>
</table></div>