section{
    height: 100%;
    width: 40%;
    // border: 2px solid black;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 13%, 80%, 7% ;
    grid-template-columns: repeat(10, 1f1);
    margin: auto;
}
table ,tr,td{
    text-align: left;
    margin: auto;
    padding: auto;
    
}

textarea{
    min-height: 50px;
}