<app-card [cardTitle]="titlePage">
    <table>
        <tr>
            <td style="width: 50%; vertical-align: top; padding-right: 20px; padding-left: 10px;">
                <div style="margin-top: 35px;">
                    <div>
                        <app-product-selector labelText="Product name:" (onSelectionChanged)="updateProducts($event)">
                        </app-product-selector>
                    </div>
                    <label style="padding-right: 25px;float: right;" *ngIf="Flag1" class="requiredInput">Please
                        select product</label>
                </div>
                <div style="margin-top: 40px;">
                    <label class="igx-typography">Release name:</label>
                    <app-input classType="" (change)="onNameChange($event.target.value)"
                        [inputModel]="tempRelease?.releaseName" type="name"></app-input>
                    <label *ngIf="Flag2" class="requiredInput">Please insert release name</label>
                </div>
                <div>
                    <label class="igx-typography ">Version:</label>
                    <app-input (keypress)="OnlyNumberAllowed($event)" (change)="onVersionChange($event.target.value)" [readonly]="this.update == 'true'" [inputModel]="tempRelease?.version"
                        type="version" classType="">
                    </app-input>
                    <label *ngIf="Flag3" class="requiredInput">Please insert version </label>
                    <label *ngIf="Flag4" class="requiredInput"> Please insert valid version (0.0.0.0)</label>
                    <label *ngIf="Flag5" class="requiredInput">  version must  (0.0.0.0)</label>

                </div>
                <div>
                    <!-- <app-numbine-check-box class="col" content="isActive" [(ngModel)]="tempRelease.status"
                            name="status">
                        </app-numbine-check-box> -->
                    <app-numbine-toggle-switch (onSelectionChangedBooleanValue)="onStatusChange($event)" [id]="1"
                        leftSide="invalid" rightSide="valid" [isChecked]="tempRelease?.status">
                    </app-numbine-toggle-switch>
                </div>
                <div style="text-align: right;">
                    <app-button name="Cancel" style="margin: 30px;" type="btn btn-primary" (click)="cancel()"
                    routerLink="/dell/config/releases"> </app-button>
                    <app-button name="Save" type="btn btn-primary"  (click)="save()"></app-button>
                </div>
            </td>
            <td style="width: 50%; vertical-align: top;">
                <div style="margin-top: 35px;">

                    <div class="igx-typography" style="font-weight: bold;">

                        <label *ngIf="Flag; else noReleases" >Existing releases for: {{currentProduct?.productName}}</label>
                        <ng-template #noReleases>
                            <label>No releases</label>
                            
                        </ng-template>
                    </div>
                    
                    <br>
                    <app-numbine-actions-table *ngIf="Flag" [dataTable]="dataTable" trashBool=false editBool=false>
                    </app-numbine-actions-table>
                </div>
            </td>
        </tr>
    </table>
</app-card>