
        <div style="width: 100%;">
            <table style="width: 100%;">
                <tr style="width: 100%;">
                    <td style="width: auto; margin-right: 5px; font-weight: bold;">
                        <label for="">Tuples: {{st}}</label>                        
                    </td>

                    <td>
                        <app-input styleX="width: 100%;" formControlClass="" holder="tuple" [(inputModel)]="st" (inputModelChange)="inputModelChange.emit(st)" classType="" styleX="" type="range" id="quantity" name="quantity" min="2" max="4"></app-input>
                    </td>
                </tr>
            </table>
            <!-- <app-input readonly="true" holder={{st}}  classType = "style" type="text" styleX="width: 100px;"  id="tupleShow" name="tupleShow" ></app-input> -->
        </div>
    
  